<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    <header>
        <nav class="first-navbar">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>

            <div class="big-search">
            <input id="buscador" type="text" placeholder="Buscá tu producto"> 
            <button class="search"> <i id="itemsearch" class="fas fa-search"></i> </button>
            </div>

            <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </nav>

        <nav class="second-navbar">
        
            <ul class="listasinmarcas links">
                <li> <a href="">Ofertas</a> </li>
                <li> <a href="">Tiendas Oficiales</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>

            <ul class="listasinmarcas links">
                <li> <a href="/user/register">Creá tu cuenta</a> <i class="far fa-address-card iconNav"></i> </li>
                <li> <a href="/user/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket iconNav"></i> </li>
                <li> <a href="">Mis compras</a> <i class="fas fa-shopping-basket iconNav"></i> </li> 
            </ul>

            <div class="burger-menu">
                <button> <i class="fas fa-bars"></i> </button>
            </div>
            <img class="banner" src="/images/img-home-banner.jpg" alt="">
        </nav> 
    </header>
    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>

            <div class="mini-section">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" width="50%">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy s10" width="50%">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt='imagen de SmartTv Samsung 43"' width="50%">
                <div class="info-product"> 
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
            </div>
        </section>
            
        <section>
            <h2 class="titulares">Ofertas</h2>
            
            <div class="mini-section">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="50%">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" width="50%">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy s10" width="50%">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt='imagen de SmartTv Samsung 43"' width="50%">
                <div class="info-product">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>
                    <div class="info-specific">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="big-footer">   
            <div class="small-footer">
                <section class='icon-footer parrafo-footer'>
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>

                <section class='icon-footer parrafo-footer'>
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>

                <section class='icon-footer parrafo-footer'>
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
            </div>
        
            <div class="small-footer">
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>
</html>
